<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097963606912-m55jqckrhnvtis5am5ruhm0cjv674lpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097963606912-m55jqckrhnvtis5am5ruhm0cjv674lpf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1097963606912-nlq7jkktrfbpt7c138sqecg7ocbggmcj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBegVOQNi3c9t5Dh-95JmZN5DxuGJiZLiM</string>
	<key>GCM_SENDER_ID</key>
	<string>1097963606912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ideaForm.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>balaji-associates1</string>
	<key>STORAGE_BUCKET</key>
	<string>balaji-associates1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097963606912:ios:905b53377689b19696e765</string>
</dict>
</plist>